.Home {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background: #3b3f45; */
  display: grid;
  grid-template-columns: 254px 1fr;
  grid-template-rows: 100%;
  /* cursor: url("/mouse.png"), auto; */
}

.Home .Tabs {
  /* padding: 16px; */
  /* background: black; */
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
  padding-bottom: 32px;
}

.Home .Tabs .Tab-container {
  height: 25%;
  box-sizing: border-box;
  padding-top: 32px;
}

.Home .Tabs .Tab {
  /* margin-bottom: 16px; */
  /* background: white; */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 64px;
  font-weight: 600;
  letter-spacing: 0.05em;
  border-radius: 4px;
  font-family: "Helvetica";
  height: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  /* font-size: 3vw; */
}

.Home .Tabs .Tab:hover {
  /* cursor: url(pointer.png), pointer; */
}

.Home .Main {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background: var(--purple-100);
  padding: 16px;
  /* padding-right: 16px; */
  box-sizing: border-box;
  flex-wrap: wrap;
}

/* .Home .Main. {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
} */

.Home .Main .composed-phrase {
  /* width: 100%; */
  flex: 1;
  padding-left: 16px;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  font-weight: 600;
}

.Home .Main .composed-phrase input {
  height: 100%;
  font-size: 3vw;
  font-weight: 600;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.Home .Main .composed-phrase input:hover {
  cursor: url(cursor.png) 0 0, auto;
}

.Home .Main .speak-composed {
  /* width: 100%; */
  width: 16.667%;
  box-sizing: border-box;
  padding: 16px;
}

.Home .Main .speak-composed .speak-composed-button {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  border: solid 4px #8899a6;
  border-radius: 4px;
  height: 100%;
  box-sizing: border-box;
}

.Home .Main .speak-composed .speak-composed-button:hover {
  /* cursor: pointer; */
  background: #dee1e4;
}

.Home .Main .speak-composed .emoji {
  height: 2.5vw;
}

.Home .Main .clear-composed {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  padding-left: 16px;
  margin-right: 16px;
}

.Home .Main .clear-composed .emoji {
  height: 2vw;
}

.Home .Main .clear-composed:hover {
  /* cursor: pointer; */
}

/* .Home .Main .Column {
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
}

.Home .Main .Column .Cell {
  height: 14.28%;
  box-sizing: border-box;
  padding: 16px;
}

.Home .Main .Column .Cell .Card {
  background: white;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica";
  font-weight: 800;
  transition: all 0.2s ease-out;
  font-size: 16px;
  user-select: none;
  letter-spacing: 0.03em;
  text-align: center;
}

.Home .Main .Column .Cell .Card:hover {
  cursor: pointer;
  background: whitesmoke;
} */

.Home .Main .Row {
  /* width: 20%; */
  width: 100%;
  box-sizing: border-box;
  /* padding-top: 16px; */
  /* padding-bottom: 16px; */
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.Home .Main .Row .Cell {
  /* height: 14.28%; */
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
}

.Home .Main .Row .Cell .Card {
  /* background: white; */
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  font-family: "Inter", Fallback, sans-serif;
  font-weight: 600;
  transition: all 0.2s ease-out;
  user-select: none;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 16px;
  border-radius: 4px;
}

.Home .Main .Row .Cell .Card .emoji {
  height: 2.5vw;
  width: 2.5vw;
  /* margin: 0 0.05em 0 0.1em; */
  /* vertical-align: -0.1vw; */
  margin-bottom: 16px;
}

.Home .Main .Row .Cell .Card:hover {
  /* cursor: url(pointer.png), pointer; */
  /* background: whitesmoke; */
}

.Home .Main .Row .Cell .Card.dummy {
  pointer-events: none;
  background: transparent !important;
  border: none;
}
