.Home {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #3b3f45;
}

.Home .Main {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.Home .Main .Column {
  width: 20%;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
}

.Home .Main .Column .Cell {
  height: 14.28%;
  box-sizing: border-box;
  padding: 16px;
}

.Home .Main .Column .Cell .Card {
  background: white;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica";
  font-weight: 800;
  transition: all 0.2s ease-out;
  font-size: 16px;
  user-select: none;
}

.Home .Main .Column .Cell .Card:hover {
  cursor: pointer;
  background: whitesmoke;
}
